body {
    font-family: Arial;
    margin: 0;
    padding: 30px;
    background: #f4f4f4;
}

h2 {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    background: red;
    width: 350px;    
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000033;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
}

input {
    border: 1px solid #ccc;
}

button {
    background: #009688;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #00796b;
}

p {
    margin-top: 15px;
    text-align: center;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}
